In [38]:
import pandas as pd
import numpy as np
import json

In [26]:
df= pd.read_html('https://www.liutaiomottola.com/formulae/freqtab.htm', header=0)
df= df[0]

In [27]:
cols= df.columns.to_numpy()
cols_modified= cols[:3]
cols_modified= cols_modified[np.array([1,0,2])]
df= df.drop(columns= cols_modified[3:])
df= df[cols_modified]
df.head()

   Octave Note Name  Frequency (Hz)
0     0.0         C          16.351
1     0.0   C# / Db          17.324
2     0.0         D          18.354
3     0.0   D# / Eb          19.445
4     0.0         E          20.601

In [28]:
df= df.dropna()
df= df.rename(columns={'Frequnecy (Hz)':'Frequency'})
df.head()

   Octave Note Name  Frequency (Hz)
0     0.0         C          16.351
1     0.0   C# / Db          17.324
2     0.0         D          18.354
3     0.0   D# / Eb          19.445
4     0.0         E          20.601

In [29]:
df['Frequency (Hz)']= df['Frequency (Hz)'].round().astype('int')
df['Octave']= df['Octave'].astype('int')
df= df.reset_index(drop= True)
df.head(20)

    Octave Note Name  Frequency (Hz)
0        0         C              16
1        0   C# / Db              17
2        0         D              18
3        0   D# / Eb              19
4        0         E              21
5        0         F              22
6        0   F# / Gb              23
7        0         G              24
8        0   G# / Ab              26
9        0         A              28
10       0   A# / Bb              29
11       0         B              31
12       1         C              33
13       1   C# / Db              35
14       1         D              37
15       1   D# / Eb              39
16       1         E              41
17       1         F              44
18       1   F# / Gb              46
19       1         G              49

In [30]:
df_note= df[['Note Name']]
df_note= df_note.squeeze('columns')
df_note= df_note.replace(r'/...','', regex=True)
df_note= df_note.str.strip()
df['Note Name']= df_note
df= df.rename(columns={'Note Name':'Note', 'Frequency (Hz)':'Frequency'})
df.head(20)

    Octave Note  Frequency
0        0    C         16
1        0   C#         17
2        0    D         18
3        0   D#         19
4        0    E         21
5        0    F         22
6        0   F#         23
7        0    G         24
8        0   G#         26
9        0    A         28
10       0   A#         29
11       0    B         31
12       1    C         33
13       1   C#         35
14       1    D         37
15       1   D#         39
16       1    E         41
17       1    F         44
18       1   F#         46
19       1    G         49

In [37]:
j = (df.groupby(['Octave'])
       .apply(lambda x: dict(zip(df.Note,x.Frequency)))
       .reset_index()
       .rename(columns={0:'Notes'})
       .to_json(orient='records'))


print(j)

[{"Octave":0,"Notes":{"C":16,"C#":17,"D":18,"D#":19,"E":21,"F":22,"F#":23,"G":24,"G#":26,"A":28,"A#":29,"B":31}},{"Octave":1,"Notes":{"C":33,"C#":35,"D":37,"D#":39,"E":41,"F":44,"F#":46,"G":49,"G#":52,"A":55,"A#":58,"B":62}},{"Octave":2,"Notes":{"C":65,"C#":69,"D":73,"D#":78,"E":82,"F":87,"F#":92,"G":98,"G#":104,"A":110,"A#":117,"B":123}},{"Octave":3,"Notes":{"C":131,"C#":139,"D":147,"D#":156,"E":165,"F":175,"F#":185,"G":196,"G#":208,"A":220,"A#":233,"B":247}},{"Octave":4,"Notes":{"C":262,"C#":277,"D":294,"D#":311,"E":330,"F":349,"F#":370,"G":392,"G#":415,"A":440,"A#":466,"B":494}},{"Octave":5,"Notes":{"C":523,"C#":554,"D":587,"D#":622,"E":659,"F":698,"F#":740,"G":784,"G#":831,"A":880,"A#":932,"B":988}},{"Octave":6,"Notes":{"C":1047,"C#":1109,"D":1175,"D#":1245,"E":1319,"F":1397,"F#":1480,"G":1568,"G#":1661,"A":1760,"A#":1865,"B":1976}},{"Octave":7,"Notes":{"C":2093,"C#":2217,"D":2349,"D#":2489,"E":2637,"F":2794,"F#":2960,"G":3136,"G#":3322,"A":3520,"A#":3729,"B":3951}},{"Octave":8,"Notes":{"C":4186,"C#":4435,"D":4699,"D#":4978,"E":5274,"F":5588,"F#":5920,"G":6272,"G#":6645,"A":7040,"A#":7459,"B":7902}},{"Octave":9,"Notes":{"C":8372,"C#":8870,"D":9397,"D#":9956,"E":10548,"F":11175,"F#":11840,"G":12544,"G#":13290,"A":14080,"A#":14917,"B":15804}}]

In [49]:
with open('frequency_chart.json', 'w') as data:
    json.dump(j, data, indent=4)